@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blueOne: #39ace7;
  --blueTwo: #0784b5;
  --blackOne: #414c50;
  --blackTwo: #2d383c;
  --blackThree: #192428;
  --balckTwoSlahsOne: #39474d;
}

* {
  color: white;
  font-family: roboto;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--blackThree);
}

header {
  background-color: var(--blackTwo);
  width: 100vw;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--blueOne);
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

main {
  position: relative;
  top: 4rem;
  width: 70vw;
  background-color: var(--balckTwoSlahsOne);
  margin: auto;
  padding: 1rem;
}

.button {
  margin: auto;
  display: block;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--blueOne);
  border-radius: 15px;
  font-weight: 300;
  border: none;
  min-width: 150px;
  font-size: 1.25rem;
}

.button:hover {
  color: white;
  font-weight: 400;
  outline-style: solid;
  outline-color: whitesmoke;
  outline-width: 1px;
}

.task-list {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.task-list-item {
  background-color: var(--blackOne);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkBoxLikeButton {
  width: 20px;
  height: 20px;
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 15px;
}

.checkBoxLikeButton--Ticked {
  background-color: greenyellow;
  border-color: whitesmoke;
}

form {
  width: 100%;
}

input,
textarea {
  display: inline;
  width: 100%;
  resize: none;
  outline: none;
  border-radius: 15px;
  padding: 0.5rem;
  color: var(--blackThree);
  font-size: 1.10rem;
  border-style: none;
  border-width: 1px;
}

input:focus,
textarea:focus {
  border-style: solid;
  border-color: var(--blueOne);
}


label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}

@media only screen and (max-width: 1000px) {
  .task-list {
    grid-template-columns: 1fr;
  }
}

.publicitySwitcher {
  width: 100%;
  display: flex;
  gap: 1rem;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}

.publicitySwitcher-Item {
  border-radius: 15px;
  width: 100%;
  background-color: transparent;
  text-align: center;
  padding: 0.5rem;
  border-style: solid;
  border-color: var(--blueOne);
  border-width: 2px;
}

.publicitySwitcher-Item__Active {
  background-color: var(--blueOne);
  border-style: none;
}

.publicitySwitcher-Item__Active:hover {
  color: white;
}

.publicitySwitcher-Item :hover {
  background-color: var(--blackTwo);
}