<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>udělej.to</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
  <header>
    <div>
      <ul class="horizontalList">
        <li">
          <a href="/">{% block title %} Udělej.to{% endblock title %}</a>
          </li>
      </ul>
    </div>
    <div>
      <ul class=" horizontalList">
        <li>
          <a href="{{ url_for('history')  if session.get('id') and session.get('username') else '' }}">{{
            "Historie" if session.get('id') and session.get('username') else "" }}</a>
        </li>
        <li>
          <a href="{{ '' if session.get('id') and session.get('username') else url_for('register') }}">{{
            ""if session.get('id') and session.get('username') else "Registrovat" }}</a>
        </li>
        <li>
          <a href="{{ url_for('logoff')  if session.get('id') and session.get('username') else url_for('login') }}">{{
            "Odhlásit se" if session.get('id') and session.get('username') else "Přihlásit se" }}</a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>

</html>