{% extends "base.html" %}
{% block content %}
      <a class="button" href="add-shared.html">přidat úkol</a>
      <ul class="task-list">
        <li class="task-list__item task-list__item--personal">
          <div>
            <h2 class="task-list__item__title">Vynést odpadky</h2>
            <p>Prosím, fakt prosím lidi 🗑️</p>
          </div>
          <a href="">🔲</a>
        </li>
        <li class="task-list__item task-list__item--personal">
          <div>
            <h2 class="task-list__item__title">Vytřít podlahu</h2>
            <p>V koupelně je to fakt síla 🤢</p>
          </div>
          <a href="">🔲</a>
        </li>
        <li class="task-list__item task-list__item--personal">
          <div>
            <h2 class="task-list__item__title">Koupit mléko 🥛</h2>
            <p>Došlo a už nemáme žádné další</p>
          </div>
          <a href="">✅</a>
        </li>
      </ul>
{% endblock content %}

