{% extends "base.html" %}
{% block content %}
{%if session.get('id') and session.get('username') %}
<div class="publicitySwitcher">
  <a href="{{url_for('home')}}" class="publicitySwitcher-Item">Sdílené</a>
  <a class="publicitySwitcher-Item publicitySwitcher-Item__Active">Soukromé</a>
</div>
{%endif%}

<a class="button" href="{{ url_for('add_personal') }}">Přidat úkol</a>

<ul class="task-list">
  {% for task in tasks %}
  <li class="task-list__item {{ " task-list__item--done" if task.is_done else "" }}">
    <div class="task-list-item">
      <div>
        <h2 style="font-weight: 900;">{{ task.name }}</h2>
        <h4 style="font-weight: 900;">{{ task.description }}</h4>
      </div>
      <a href="{{ url_for('undonePersonal' if task.is_done else  'donePersonal' ,task_id=task.id) }}"
        class="checkBoxLikeButton {{'checkBoxLikeButton--Ticked' if task.is_done else '' }}">
      </a>
    </div>
  </li>
  {% endfor %}
</ul>

{%endblock content %}